body {
    background: rgb(255, 255, 255);
background: radial-gradient(circle, rgb(124, 255, 244) 0%, rgb(139, 255, 207) 100%);
}

/* header */
.header {
    width: 1280px;
    position: relative;
    margin: 0px auto;
}

/* Style for the kolaborasi */
.kolaborasi {
    margin: 0px auto; /* Add space above and center the section */
    width: 1280px; /* Match the width of the navbar */
    padding: 0px;
    position: relative;
}

/* Navigation Bar */
ul {
    list-style: none;
    background: rgb(255, 186, 255);
    border: 2px solid brown;
    margin: 0x auto; 
    position: relative; /* Ensure it follows document flow */
    width: 1280px;
    height: 60px;
    text-align: left; /* Center align text */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    margin-bottom: 5px;
    margin-top: -5px;
}

ul li {
    display: inline-block;
    position: relative;
    margin: 0 auto;
    height: 60px;
    padding: 10px 8px;
}

ul li a{
    text-decoration: none;
    color: brown;
    padding: 10px 20px;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth color changes */
}

ul a:hover{
    background-color: lightyellow;
}

/* kode css dropdown */
ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown {
    background: rgb(222, 180, 255);
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    margin: 0px 0px;
}

ul li:hover ul.dropdown {
    display: block;
}

/* konten */

.pendahuluan{
    background-color: rgb(255, 247, 153);
    border: 5px solid brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
    margin: 0px 200px 150px;
    font-size: 20px;
    text-align: center;
    padding: 0px 0px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.penjelasan{
    background: rgb(255,240,62);
background: linear-gradient(90deg, rgba(255,240,62,1) 0%, rgba(255,247,153,1) 35%, rgba(255,200,0,1) 100%);
    border: 5px solid brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
    margin: 0px 200px 150px;
    font-size: 14px;
    text-align: justify;
    padding: 10px 10px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.bilateral{
    border-radius: 5px;
    border: 3px solid white;
    margin-top: 10px;
}

.regional{
    border-radius: 5px;
    border: 3px solid white;
    margin-top: 10px;
}

.multilateral{
    border-radius: 5px;
    border: 3px solid white; 
    margin-top: 10px;
}

.teamwork-images {
    flex-shrink: 0;
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    margin: 15px auto; 
    width: 100%; 
    gap: 20px;
}

.kerjasama{
    text-align: center; 
    width: 100%;
}

.kerjasama img {
    width: 100%; 
    border-radius: 10px; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
}

.image-container {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative; 
    width: 30%;
    overflow: hidden; 
    border-radius: 10px;
}

.image-container img {
    width: 100%;
    display: block;
    transition: filter 0.3s ease; 
}

/* The overlay */
.img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.183); 
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.img-overlay .text {
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: justify;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    transform: scale(0.8); 
    transition: transform 0.3s ease; 
    margin-left: 20px;
    margin-right: 20px;
}

/* hover */
.image-container:hover img {
    filter: blur(3px); 
}

.image-container:hover .img-overlay {
    opacity: 1; 
    visibility: visible;
}

.image-container:hover .img-overlay .text {
    transform: scale(1); 
}

.sdgs{
    background-color: rgb(255, 247, 153);
    border: 5px solid brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
    margin: 0px 200px 150px;
    font-size: 20px;
    text-align: center;
    padding: 0px 0px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.penjelasan01{
    background: rgb(255,240,62);
background: linear-gradient(90deg, rgba(255,240,62,1) 0%, rgba(255,247,153,1) 35%, rgba(255,200,0,1) 100%);
    border: 5px solid brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
    margin: 0px 100px 150px;
    font-size: 14px;
    text-align: justify;
    padding: 10px 10px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.explain-goals4{
    background: rgb(255,240,62);
background: linear-gradient(90deg, rgba(255,240,62,1) 0%, rgba(255,247,153,1) 35%, rgba(255,200,0,1) 100%);
    border: 5px solid brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
    margin: 0px 150px 150px;
    font-size: 14px;
    text-align: justify;
    padding: 10px 10px;
    margin-bottom: 5px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.goals4{
    width: 20%;
    border-radius: 5px;
    border: 3px solid white;
    transition: transform 0.3s ease-in-out; /* smoother transition */  
    margin-left: 15px;
    margin-right: 15px;
}

.goals4:hover{
    transform:scale(1.1)
}

.text{
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease; 
}
.text:hover{
    opacity: 1;
}

.penjelasan02{
    background: rgb(255,240,62);
background: linear-gradient(90deg, rgba(255,240,62,1) 0%, rgba(255,247,153,1) 35%, rgba(255,200,0,1) 100%);
    border: 5px solid brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
    margin: 0px 100px 150px;
    font-size: 14px;
    text-align: justify;
    padding: 10px 10px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.penjelasan03{
    background: rgb(255,240,62);
background: linear-gradient(90deg, rgba(255,240,62,1) 0%, rgba(255,247,153,1) 35%, rgba(255,200,0,1) 100%);
    border: 5px solid brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
    margin: 0px 100px 150px;
    font-size: 14px;
    text-align: justify;
    padding: 10px 10px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.korupsi{
    width: 30%;
    border-radius: 5px;
    border: 3px solid white;
    transition: transform 0.3s ease-in-out;
    margin-left: 165px;
}

.korupsi:hover{
    transform:scale(1.1)
}

.korupsi-1{
    width: 30%;
    border-radius: 5px;
    border: 3px solid white;
    transition: transform 0.3s ease-in-out;
    margin-left: 10px;
}

.korupsi-1:hover{
    transform:scale(1.1)
}

.picture{
    width: 30%;
    border-radius: 5px;
    border: 3px solid white;
    transition: transform 0.3s ease-in-out;
    margin-left: 350px;
}

.picture:hover{
    transform:scale(1.1)
}

.penjelasan04{
    background: rgb(255,240,62);
background: linear-gradient(90deg, rgba(255,240,62,1) 0%, rgba(255,247,153,1) 35%, rgba(255,200,0,1) 100%);
    border: 5px solid brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
    margin: 0px 150px 150px;
    font-size: 14px;
    text-align: justify;
    padding: 10px 10px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.masalah{
    width: 25%;
    border-radius: 5px;
    border: 3px solid white;
    transition: transform 0.3s ease-in-out;
    margin-left: 10px;
    float: left;
    margin-right: 15px;
}

.masalah:hover{
    transform:scale(1.1)
}

/* footer */
.footer img{
    width: 1280px;
    position: relative;
    border-radius: 0 !important;
    box-shadow: none !important;
    padding: 0; 
    margin: 0 auto; 
    text-align: center; 
}